<a href="https://colab.research.google.com/github/Hayleyha/2023ict002/blob/main/230329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
str1="Python"
str2="Programming"
str3="is"
str4="a amazing Language"

str1 +=" "+str2+" "+str3+" "+str4
print(str1)

Python Programming is a amazing Language

In [18]:
a=10
b=5
print(a>b)

print(a<b)

True
False

In [21]:
kor=90
eng=80
math=100
print(kor>=80)and(eng>=80)and(math>=100)

True

In [20]:
kor=90
eng=80
math=100

cond1=kor>=80 # True
cond2=eng>=80 # True
cond3=math>=80 # True

print(cond1 and cond2 and cond3)

True

In [23]:
kor=90
eng=80
math=100
CUT_OFF=80

cond1=kor>=CUT_OFF # True
cond2=eng>=CUT_OFF # True
cond3=math>=CUT_OFF # True

print(cond1 and cond2 and cond3)

True

In [27]:
num1=125
num2=100
num3=120

max=num1 if num1>num2 else num2
max=num3 if num3>max else max
print("가장 큰 값",max)

가장 큰 값 125

In [28]:
num1=input("")
num2=input("")
num3=input("")

max=num1 if num1>num2 else num2
max=num3 if num3>max else max
print("가장 큰 값",max)

1000
1180
2000
가장 큰 값 2000

In [29]:
num1,num2,num3=(input("").split())

max=num1 if num1>num2 else num2
max=num3 if num3>max else max
print("가장 큰 값",max)

100 120 130
가장 큰 값 130

In [34]:
number=int(input("어떤 숫자: "))

# [true값] if [조건절] else [false값]
result = " 입니다" if number%3 == 0 else "가 아닙니다"
print(f"당신이 입력한 숫자 {number}는(은) 3의 배수{result}")

어떤 숫자: 20
당신이 입력한 숫자 20는(은) 3의 배수가 아닙니다

In [ ]:
age=int(input("나이? "))

movie=age if age>=15 else "이 등급의 영화를 볼 수 있습니다."
movie=

In [36]:
number=int(input("나이? "))

# [true값] if [조건절] else [false값]
result = " 있습니다" if number>=20 else "없습니다"
print(f"이 등급의 영화를 볼 수 {result}")

나이? 19
이 등급의 영화를 볼 수 없습니다

In [37]:
number=int(input("상품가격? "))

# [true값] if [조건절] else [false값]
result = "True" if number>=60000 else "False"
print(f"할인 대상: {result}")

상품가격? 20000
할인 대상: False